<div class="bg-black min-h-screen w-full pt-14 flex justify-center">
  <div class="text-center w-full">
    <h1 class="text-4xl text-green-500 font-bold flex items-center justify-center">
      Temperature Data Analysis App
      <img src="temp.png" class="h-24 w-24 ml-4">
    </h1>
    <p class="text-green-300 text-lg mt-4 font-bold"> --> code by Kajal Paliwal</p>
    <div class="pt-14 flex justify-start w-full"> <!-- Flex container -->
      <div class="w-1/2 p-4 flex-grow"> <!-- Left side: Add Data -->
        <app-add-data></app-add-data>
      </div>
      <div class="w-1/2 p-4 flex-grow"> <!-- Right side: View Data -->
        <app-view-data></app-view-data>
      </div>
    </div>
  </div>
</div>